language: node_js

node_js:
  - "4"
  - "5"
  - "6"
  - "node"

notifications:
  email:
    on_success: never # default: change
    on_failure: always # default: always

script:
  - npm run lint
  - npm test

after_script:
  - npm run codecov